<!DOCTYPE html>
<head>
    <title>Rango</title>
</head>
<body>
<div>
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <u1>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </u1>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
    {% elif page %}
        <u1>
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        </u1>
    {% else %}
        The specified category does not exist.
    {% endif %}
    <a href="/rango/">Index</a><br/>
</div>
</body>
</html>